<header class="admin">
    <div class="adminHeader">
      <img id="logo" src="/images/logofinal.svg" alt="logotipo">
    </div>
    <nav>
      <ul id="menu">
        <li><a href="/admin/productos">Productos</a>
          <ul>
            <li><a href="/admin/productos">Lista</a></li>
            <li><a href="/admin/productos/agregar">Agregar</a></li>
          </ul>  
        </li>
      </ul>
    </nav>
    <p></p>
</header>