<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="formularios.css">
    <title>Registro</title>
  </head>

  <body class="form">
    <main class=" forms-container">
    <h2>Formulario de Registro:</h2>
    <hr>

    <form class="form-register" action="data.html" method="post">
     <div class="input-container">
      <input type="text" class="input-style" name="nombre"  placeholder="Nombre y Apellido"/>
      <span class="error-message">Debe ingresar su Nombre y Apellido</span></div>

      <div class="input-container">
        <input type="number" class="input-style" name="DNI"  placeholder="Ingrese su DNI"/>
        <span class="error-message">Debe ingresar su Nro de DNI</span></div>
      
      
    <div class="input-container">
            <input type="text" class="input-style" name="Usuario"  placeholder="Nombre de Usuario"/>
            <span class="error-message">Debe ingresar su Nombre de Usuario</span></div>
     
    <div class="input-container">
    <input type="password" class="input-style" name="Clave"  placeholder="Ingrese su clave"/>
    <span class="error-message">Debe ingresar su contraseña</span></div>

    <div class="input-container">
        <input type="password" class="input-style" name="Clave2"  placeholder="Confirme su contraseña"/>
        <span class="error-message">Confirme su contraseña</span></div>

    <div class="input_check-container">
        <label for="activo">aceptos los<a href="http://">Terminos y condiciones</a></label>
        <input type="checkbox" class="input-style" name="clave2" id="activo">
        <span class="error-mesagge">Debe aceptar los terminos</span></div>


    <div class="input-container">
            <input type="date" class="input-style" name="fecha"  placeholder="fecha nacimiento"/>Fecha nacimiento</div>
           

     <div class="input-container">
                <input type="text" class="input-style" name="Direccion"  placeholder="Ingrese su  Direccion"/>
                <span class="error-message">Debe ingresar su Direccion</span></div>
      
     <div class="input-container">
     <input type="mail" class="input-style" name="Mail"  placeholder="Ingrese su Mail">
     <span class="error-message">Debe ingresar su Mail</span></div>

     <div class="input-container">
        <input type="tel" class="input-style" name="tel"  placeholder="Ingrese su telefono"/>
        <span class="error-message">Debe ingresar su telefono</span></div>

          <span class="btn-container"><button class="btn" type="reset">Limpiar</button>
      <button class="btn" type="submit">Enviar</button></span>
      

    </form>
  </main>
  </body>
</html>