<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="">
                <img src="/images/menu_hamburger.png" alt="">
            </a>
            <nav class="main-nav">
				<ul>
                    <li>
                        <img src="/public/images/Imagen de Prueba.jpg" alt="logotipo" >
                    </li>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Menú</a></li>
					<li><a href="#">Nosotros</a></li>
					<li><a href="#">Reservas</a></li>
				</ul>
                <ul>
                    <li><a href="#"><img src="/images/add_to_cart.png" alt="carrito" ></a></li>
					<li><a href="#">Acceder</a></li>
					<li><a href="#">Registrarse</a></li>
                </ul>
			</nav>
            <a href="#">Reserva Ya!</a>
        </header>

        <section>
            <h2>Inicia Sesión</h2>
            <form action="">
                <div>
                    <input type="email" name="email" placeholder="Correo Electrónico">
                    <span>Debe ingresar su email</span>
                </div>
                <div>
                    <input type="password" name="pass" placeholder="Contraseña">
                    <span>Debe ingresar su contraseña</span>
                </div>
                <div>
                    <button type="submit">Entrar</button>
                </div>
                <span>¿No tienes una cuenta? <a href="/">Registrate</a></span>
            </form>
        </section>
        
    </div>
</body>
</html>