<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="">
                <img src="/images/menu_hamburger.png" alt="">
            </a>
            <nav class="main-nav">
                <ul>
                    <li>
                        <img src="/public/images/Imagen de Prueba.jpg" alt="logotipo">
                    </li>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Menú</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Reservas</a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="/images/add_to_cart.png" alt="carrito"></a></li>
                    <li><a href="#">Acceder</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>
            </nav>
            <a href="#">Reserva Ya!</a>
        </header>

        <section>
            <h2>Inicia Sesión</h2>
            <form action="">
                <div>
                    <input type="email" name="email" placeholder="Correo Electrónico">
                    <span>Debe ingresar su email</span>
                </div>
                <div>
                    <input type="password" name="pass" placeholder="Contraseña">
                    <span>Debe ingresar su contraseña</span>
                </div>
                <div>
                    <button type="submit">Entrar</button>
                </div>
                <span>¿No tienes una cuenta? <a href="/">Registrate</a></span>
            </form>
        </section>

        <footer>
            <div>
                <h2>Hacé tu pedido.</h2>
                <h2>¡Nosotros te lo llevamos!</h2>
            </div>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <section>
                <div>
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquam cum nesciunt ipsum unde
                        saepe?</p>
                </div>
                <div>
                    <span>Navegación</span>
                    <ul>
                        <li>Inicio</li>
                        <li>Productos</li>
                        <li>Nosotros</li>
                        <li>Reservas</li>
                        <li>Contactanos</li>
                    </ul>
                </div>
                <div>
                    <span>Contactanos</span>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d5211.320638113945!2d-58.4572462964013!3d-34.63130764960911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x95bcca28bb1e6ba1%3A0xbebde9339a4060bc!2sAv.%20Juan%20Bautista%20Alberdi%202101-2199%2C%20C1406GRK%20CABA!3m2!1d-34.6301585!2d-58.458188299999996!5e0!3m2!1ses-419!2sar!4v1647214346336!5m2!1ses-419!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div>
                    <ul>
                        <li>
                            <img src="/images/Ubicacion.png" alt="">
                            <p>Calle Falsa 123</p>
                        </li>
                        <li>
                            <img src="/images/Horario-atencion.png" alt="">
                            <p>Horarios de Atención</p>
                        </li>
                        <li>
                            <img src="/images/Phone.png" alt="">
                            <p>11 - 1234 5678</p>
                        </li>
                    </ul>
                </div>
            </section>
            <div>
                <p>Digital House Comisión 13 © - Desarrollado por: Grupo 9</p>
                <img src="/images/Facebook.png" alt="">
                <img src="/images/Instagram.png" alt="">
                <img src="/images/Twitter.png" alt="">
            </div>
        </footer>
    </div>
</body>

</html>