/* *{
    margin: 0;
    padding: 0;
}
.contenedor {
   width: 320px;
   height: 540px;
   margin: 0.5em auto;
   padding: 00.5em;
}
.header {
    height: 20%;
    display: flex;
    background-color: black;
}
.menu {
    background: greenyellow;
    width: 33%;
}
.logo {
    width: 33%;
    padding: 0.5em;
}
img {
    width: 100%;
    height: 100%;
}
.usuario {
    background: green;
    width: 33%;
}
.nav {
    height: 5%;
    background: rgb(122, 185, 122);
}
h2 {
    text-align: center;
}
.contenido{
    height: 50%;
    background: rgb(221, 143, 79);
    margin: 0;
    padding-left: 1em;
    display: flex;
}
.producto {
    height: 10%;
    width: 100%;
    margin: 0;
}
.titulos {
    font-size: larger;
}
ul {
    list-style: none;
    display: flex;
}
li {
    width: 25%;
    margin: 0.2em;
}
.A { width: 80%;
    margin: 0;
}

.item1 {
    width: 100%;
    height: 100%;
}
.footer{
    height: 25%;
    background: rgb(209, 82, 23);
}
.Total {
    width: 100%;
    height: 33%;
    background-color: black;
}
.total {
    color: orange;
    padding: 0.4em;
}
.montototal {
    height: 25%;
    padding: 0.4em;
}
.botonpagar {
    height: 33%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.pagar {
    border-radius: 0.5em;
    margin: 0;
    padding:0 ;
    width: 40%;
    height: 80%;
    background-color: rgb(206, 198, 198);
    font-size: 23px;
}

*/

div.container div.cuerpoCarrito {
    margin-top: 170px;
}

div.container div.cuerpoCarrito h1{
    text-align: center;
    margin-bottom: 50px;
}

div.container div.cuerpoCarrito div.infoDeProductosCarrito {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 3px var(--naranja-Fuerte);
    padding-bottom: 20px;   
}

div.container div.cuerpoCarrito div.infoDeProductosCarrito img {
    height: 50px;
    width: 50px;
}

div.container div.cuerpoCarrito div.infoDeProductosCarrito div.nombrePrecioProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.container div.cuerpoCarrito div.infoDePedido div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 3px var(--naranja-Fuerte);
}

div.container div.cuerpoCarrito div.infoDeProductosCarrito p input {
    width: 50px;
    margin-top: 10px;
    outline: none;
}

div.container div.cuerpoCarrito div.infoDeProductosCarrito p.noVisibleAndroid,
div.container div.cuerpoCarrito div.infoDePedido p.noVisibleAndroid {
    display: none;
}

div.container div.cuerpoCarrito div.infoDeProductosCarrito p {
    text-align: center;
    margin-bottom: 20px;
}

div.container div.botonPedido {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

div.container div.botonPedido button {
    border: none;
    background-color: var(--naranja-Fuerte);
    color: white;
    width: 50vw;
    height: 50px;
    border-radius: 20px;
    max-width: 300px;
    cursor: pointer;
} 

@media screen and (min-width: 768px){ 

    div.container div.cuerpoCarrito div.infoDePedido div {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }


    div.container div.cuerpoCarrito div.infoDeProductosCarrito img{
        height: 100px;
        width: 100px;
    }
    div.container div.cuerpoCarrito div.infoDeProductosCarrito {
        max-width: 70vw;
        margin: 0 auto;
        align-items: center;
    }

    div.container div.cuerpoCarrito div.infoDeProductosCarrito p.noVisibleAndroid,
    div.container div.cuerpoCarrito div.infoDePedido p.noVisibleAndroid {
    display: initial;
    margin-top: 10px;
}
div.container div.cuerpoCarrito div.infoDeProductosCarrito div.nombrePrecioProducto {
    justify-content: space-evenly;
    align-items: center;
}


}



