footer.user {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    color: var(--naranja-Fuerte);
    background-color: var(--negro);
    border-radius: 10px 10px 0px 0px;
}

footer.user div.footer_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
}

footer.user div.footer_caracteristicas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer.user div.footer_caracteristicas nav {
    text-align: center;
    margin-top: 20px;
    width: 33%;
}

footer.user div.footer_caracteristicas nav i {
    background-color: gray;
    width: 35px;
    height: 35px;
    padding: 9px;
    border-radius: 50%;
}

footer.user div.footer_caracteristicas nav p {
    margin-top: 10px;
}

footer.user section div img {
    display: none;
}

footer.user section div p#footer_info_negocio {
    display: none;
}

footer.user section div ul.footer_menu {
    display: none;
}

footer.user section div span#footer_navegacion {
    display: none;
}

footer.user section div span#footer_contacto {
    display: none;
}

footer.user section div.footer_info_de_contacto{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

footer.user section div.footer_info_de_contacto ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

footer.user section div.footer_info_de_contacto ul li p {
    font-size: 15px;
    margin-left: 20px;
}

footer.user section div iframe {
    display: none;
}

footer.user div.end_footer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

footer.user div.end_footer p {
    font-size: 10px;
    margin-bottom: 10px;
}

footer.user div.end_footer nav#footer_redes_sociales a i {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    color: var(--naranja-Fuerte);
}



@media screen and (min-width: 768px){ 

    footer.user section {
        margin-top: 60px;
    }


    footer.user section div {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    footer.user section div iframe {
        display: flex;
        width: 150px;
        height: 100px;
        margin-top: 20px;
    }

    footer.user section div img {
        display: flex;
        width: 110px;
        margin: 0 auto;
    }

    footer.user section div.footer_info_de_contacto {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    footer.user section div p#footer_info_negocio {
        display: flex;
        font-size: 10px;
        margin-top: 10px;
    }
    
    footer.user section div ul.footer_menu {
        display: flex;
    }

    footer.user section div ul.footer_menu li {
        margin-bottom: 10px;
        cursor: pointer;
    }

    
    footer.user section div span#footer_navegacion {
        display: flex;
        margin-bottom: 10px;
    }
    
    footer.user section div span#footer_contacto {
        display: flex;
    }

    footer.user section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer.user section div ul.footer_menu {
        display: flex;
        flex-direction: column;
    }

    footer.user div.end_footer p {
        margin-top: 10px;
    }
}

@media (min-width: 1200px){ 
    footer.user section div iframe {
        display: flex;
        width: 250px;
        height: 150px;
        margin-top: 20px;
    }
}
