* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-montserrat);
}

html, body {
    max-width: 100% ;
    overflow-x: hidden ;
}

ul, ol {
    list-style: none;
}

a{
    text-decoration: none;
}
