header.user {
    position: fixed;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--negro);
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 10;
}

header.user nav.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header.user nav.main-nav div.header_menuButton button#hamburguer_desplegable {
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0);
    
}

header.user nav.main-nav div.header_menuButton button#hamburguer_desplegable i {
    color: var(--naranja-Fuerte);
    font-size: 40px;
    cursor: pointer;
}

header.user img#logo{
    width: 60px;
}


header.user a i{
    text-align: center;
    font-size: 40px;
    color: var(--naranja-Fuerte);
}

header.user nav.main-nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: black;
}

header.user div.header_menuClose {
    color: var(--naranja-Fuerte);
    font-size: 50px;
    width: 100vw;
    height: 50px;
    
}

header.user div.header_menuClose i {
    padding: 20px;
    
}

header.user nav.main-nav-menu ul.header_menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

header.user nav.main-nav-menu ul.header_menu li#welcome {
    cursor: initial;
    transition: initial;
    color: var(--naranja-Fuerte);
}

header.user nav.main-nav-menu ul.header_menu li#welcome:hover{
    background-color: initial;
}


header.user nav.main-nav-menu ul.header_menu li {
    width: auto;
    text-align: center;
    padding: 10px 20px;
    border: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

header.user nav.main-nav-menu ul.header_menu li:hover {
    background-color: var(--naranja-Claro);
}

header.user nav.main-nav-menu ul.header_menu li a {
    color: var(--naranja-Fuerte);
    text-transform: uppercase;
}

a.a_boton {
    margin-left: 33%;
}

a.a_boton button.boton{ 
    border: none;
    border-radius: 30px;
    background-color: var(--naranja-Fuerte);
    color: white;
    width: 33vw;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

.search1 {
    display: none;
}

.search2 {
    display: block;
}

/* Animacion */

@keyframes menuFadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header.user nav.main-nav-menu.active{
    display: flex;
    opacity: 1;
    animation: menuFadeIn 1s;
}

/* Fin Animacion */

div.container img#fondo {
    object-fit: contain;
    width: 100%;
    margin-top: 100px;
}

@media screen and (min-width: 768px){
    header.user img#logo{
        width: 100px;
    }

    header.user nav.main-nav div.header_menuButton button#hamburguer_desplegable i{
        font-size: 50px;
    }
    
    header.user a i{
        font-size: 50px;
    }

    a.a_boton {
        margin-left: 7%;
    }
    
    a.a_boton button.boton{ 
        display: none;
    }

    div.container img#fondo {
        position: block;
        top: 0;
        right: 0;
        z-index: -10;
        height: 500px;
        object-fit: initial;
    }

}

@media (min-width: 1200px){

    header.user {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0 30px;
    }

    header.user a {
        order: 3;
        padding: 10px;
    }

    header.user a i{
        font-size: 30px;
    }

    header.user nav.main-nav {
        display: flex;
        flex-wrap: nowrap;
    }

    .search1 {
        display: block;
    }

    .search2 {
        display: none;
    }

    header.user nav.main-nav-menu {
        position: initial;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        opacity: 1;
        background-color: rgba(255, 0, 0, 0);
        
    }

    header.user nav.main-nav-menu div.header_menuClose{
        display: none;
    }

    header.user nav.main-nav div.header_menuButton {
        display: none;
    }
    
    header.user nav.main-nav-menu ul.header_menu {
        flex-direction: row;
        flex-grow: 0;
    }

    header.user nav#menu2.main-nav-menu {
        order: 4;
        width: initial;
    }
    
    header.user nav.main-nav-menu ul.header_menu li {
        width: auto;
        background-color: rgba(0, 0, 0, 0);
    }

}