section.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

div.container h2.header_menu {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

div.container h2.header_masProductos {
    margin-top: 20px;
    text-align: center;
}

section.menu img {
    margin-top: 15px;
    object-fit: contain;
    width: 200px;
    height: 140px;
    border-radius: 20px;

}

section.menu article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--negro);
    color: var(--naranja-Fuerte);
    border-radius: 30px;
    height: 360px;
    width: 260px;
    margin-top: 30px;
}

section.menu article h3 {
    margin-top: 10px;
}

section.menu article p{
    text-align: center;
    margin-bottom: 10px;
}

section.menu article div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
    height: 20px;
} 

section.menu article div nav {  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.menu article div nav input {
    width: 60px;
    border-radius: 10px;
    outline: none;
    text-align: center;
}

section.menu article button {
    margin-top: 30px;
    border: none;
    background-color: var(--naranja-Fuerte);
    color: white;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

div.container div#irAlCarrito {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

div.container div#irAlCarrito a button.irAlCarrito {
    border: none;
    background-color: var(--naranja-Fuerte);
    width: 120px;
    height: 40px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 768px){

    section.menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        
        margin-bottom: 30px;
    }

    div.container div#irAlCarrito a button.irAlCarrito {
        width: 60vw;
        height: 40vh;
        max-height: 50px;
        max-width: 300px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    div.container h2.header_reservaTuMesa {
        margin-top: 20px;
        margin-bottom: 30px ;
    }

    section.reservaTuMesa {
        margin-bottom: 30px;
    }
}