div.container h2.header_reservaTuMesa {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

div.container section.reservaTuMesa form div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 60px;
}

div.container section.reservaTuMesa form div input {
    width: 190px;
    height: 50px;
    border-radius: 20px;
    border-color: var(--naranja-Fuerte);
    color: var(--negro);
    text-align: center;
}

div.container section.reservaTuMesa form div input::placeholder {
    text-align: center;
    font-size: 10px;
}

div.container section.reservaTuMesa form div button {
    width: 190px;
    border: none;
    background-color: var(--naranja-Fuerte);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

div.container section.reservaTuMesa form div input:focus {
    outline: none;
}

@media screen and (min-width: 768px) {

    div.container section.reservaTuMesa form div input {
        width: 30%;
        height: 50px;
        margin-top: 10px;
        text-align: center;
    }

    div.container section.reservaTuMesa form div button {
        width: 30%;
        height: 50px;
        margin-top: 10px;
    }

    div.container section.reservaTuMesa form div input::placeholder {
        font-size: 20px;

    }
}