html body div.container section#userProfile {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75%;
    max-width: 360px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: solid 2px var(--naranja-Fuerte);
    border-radius: 10px;
}

html body div.container section#userProfile button {
    width: 225px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--naranja-Fuerte);
    outline: none;
    cursor: pointer;
    border-style: none;
    margin-top: 10px;
}

html body div.container section#userProfile button a {
    text-decoration: none;
    color: white;
}

html body div.container form div.infoProfile{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75%;
    max-width: 360px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
    border: solid 2px var(--naranja-Fuerte);
    border-radius: 10px;
}

html body div.container form div.infoProfile label{
    margin-bottom: 10px;
    margin-top: 10px;
}

html body div.container form div.infoProfile button{
    width: 175px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--naranja-Fuerte);
    outline: none;
    margin: 0 auto;
    cursor: pointer;
    border-style: none;
    color: white;
    margin-top: 10px;
}

html body div.container form div.infoProfile img {
    object-fit: contain;
    width: 200px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px){ 
    html body div.container div.divPerfil{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
    }

    html body div.container div.divPerfil form{
        margin-top: 120px;
    }

    html body div.container section#userProfile{
        width: initial;
        max-width: initial;
        margin-left: initial;
        margin-right: initial;
    }

    html body div.container form div.infoProfile {
        margin-left: auto;
        margin-right: auto;
        width: initial;
    }

    html body div.container div.divEditPerfil form div.infoProfile{
        width: 75%;
    }

    html body div.container div.divEditPerfil section#userProfile {
        width: 75%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}