<header class="user">
    <nav class="main-nav">
        <div class="header_menuButton">
            <button id="hamburguer_desplegable">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
    <form action="/search" method="get" class="search2"> 
        <input type="text" name="Busqueda" placeholder="Elegi tu pizza!!!">
     </form>
    <img id="logo" src="/images/logofinal.svg" alt="logotipo">
    <% if (typeof session.user != "undefined") { %>
        <a href="/productos/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    <% } %>
        
    <nav class="main-nav-menu">
        <div class="header_menuClose">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
        <ul class="header_menu">
            <% if (typeof session.user != "undefined") { %>
                <li id="welcome"><h2>Bienvenido <%=session.user.name%></h2></li>
            <% } %>
            <li><a href="/">Inicio</a></li>
            <li><a href="/#menu">Menú</a></li>
            <li><a href="/#nosotros">Nosotros</a></li>
            <li><a href="/#reservaTuMesa">Reservas</a></li>
            <form action="/search" method="get" class="search1"> 
                <input type="text" name="Busqueda" placeholder="Elegi tu pizza!!!">
            </form>
            <% if (typeof session.user != "undefined") { %>
                <% if (session.user.rol === 1) { %>
                    <li><a href="/admin">Admin</a></li>
                <% } %>
            <% } %> 
        </ul>
        <ul class="header_menu" id="menu2">
            <% if (typeof session.user != "undefined") { %>
                <li><a href="/users/perfil/<%= session.user.id %>  ">Mi Perfil</a></li>
                <li><a href="/users/logout">Cerrar Sesión</a></li>
            <% } else {%>
                <li><a href="/users/login">Acceder</a></li>
                <li><a href="/users/registro">Registrarse</a></li>
            <% }%>
        </ul>
        
    </nav>
</header>