<section class="menu">
    <article>
        <a href="/productos"><img src="/images/Pizza_1.png"  alt=""></a>
        
        <h3 >Pizza Vegana</h3>
        <p>Pimiento verde, cebolla dulce, pepperoni, etc</p>
        <div>
            <p>Precio: $123</p>
            <nav>
                <input type="number">
            </nav>
        </div>
        <button> A単adir al carrito</button>
    </article>

    <article>
        <a href="/productos"><img src="/images/Pizza_2.png" alt=""></a>
        <h3>Pizza Vegana</h3>
        <p>Pimiento verde, cebolla dulce, pepperoni, etc</p>
        <div>
            <p>Precio: $123</p>
            <nav>
                <input type="number">
            </nav>
        </div>
        <button> A単adir al carrito</button>
    </article>

    <article>
        <a href="/productos"><img src="/images/Pizza_3.png" alt=""></a>
        <h3>Pizza Vegana</h3>
        <p>Pimiento verde, cebolla dulce, pepperoni, etc</p>
        <div>
            <p>Precio: $123</p>
            <nav>
                <input type="number">
            </nav>
        </div>
        <button> A単adir al carrito</button>
    </article>

    <article>
        <a href="/productos"><img src="/images/Pizza_4.png" alt=""></a>
        <h3>Pizza Vegana</h3>
        <p>Pimiento verde, cebolla dulce, pepperoni, etc</p>
        <div>
            <p>Precio: $123</p>
            <nav>
                <input type="number">
            </nav>
        </div>
        <button> A単adir al carrito</button>
    </article>
    
</section>