header.admin{
    background-color: var(--negro);
    display:flex;
    justify-content: space-around;
    height: 100px;
}

header.admin div.adminHeader img#logo {
    width: 60px;
}

header.admin div.adminHeader{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

header.admin nav{
    margin-top: 35px;
}

header.admin nav ul#menu li a{
    color: white;
    padding: 5px;
    display: block;
    min-width: 100px;
}

header.admin nav ul#menu li ul li {
    margin-top: 3.7px;
}

header.admin nav ul#menu li>a:hover{
    color: black;
    background-color: var(--naranja-Fuerte);
}

header.admin nav ul#menu>li{
    float: left;
    text-align:center
}

header.admin nav ul#menu>li>ul{
    display: none;
}

header.admin nav ul#menu>li:hover>ul {
    display: block;
    background-color: var(--negro);
}

header.admin form {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    margin-top: 35px;
    position: relative;
}

header.admin form input {
    height: 30px;
    padding-left: 10px;
}

header.admin form input:focus{
    outline: none;
}

header.admin form button {
    height: 25px;
    position: absolute;
    margin-left: 150px;
    border-color: white;
    background-color: white;
    border: none;
    cursor: pointer;
}



main.adminMain {
    margin-top: 30px;
    min-height: 100vh;    
}

main.adminMain h1{
    font-size: 20px;
    text-align: center;
    width: 100vw;
}

footer.adminFooter {
    padding: 30px 0;
    text-align: center;
}

@media screen and (min-width: 768px){
    header.admin div.adminHeader img#logo {
        width: 100px;
    }
}