<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <main class="adminMain">
        <h1>PAGINA DE INICIO DE ADMINISTRADORES</h1>
      </main>
      <%- include('partials/footer') %>
  </body>

</html>