<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head")  %> 

<body>
    <div class="container">
        <%- include("../partials/header") -%> 

        <section id="userProfile">
            <h1>Pagina en Proceso</h1>
            <div>
                <p><a href=""></a></p>
            </div>
        </section>

        <%- include("../partials/footer")  %> 
    </div>
    <script src="/js/header.js"></script>
</body>

</html>