<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head")  %> 

<body>
    <div class="container">
        <%- include("../partials/header") -%> 

        <div class="divEditPerfil">
        <section id="userProfile">
            <h1>EDITAR CONTRASEÑA</h1>
        </section>

        <form action="/users/editPassword/<%= user.id %>" id="form" method="post">
            <div class="infoProfile">
                <label for="oldPassword">Contraseña Actual</label>
                <input type="password" class="input-style" name="oldPassword" id="oldPassword" placeholder="Contraseña Actual"/>

                <label for="newPassword1">Contraseña nueva</label>
                <input type="password" class="input-style" id="newPassword1" name="newPassword1" placeholder="Nueva contraseña" />

                <label for="newPassword2">Reingrese su Contraseña</label>
                <input type="password" class="input-style" id="newPassword2" name="newPassword2" placeholder="Reingrese su contraseña" />

                <button type="submit">EDITAR</button>
            </div>
        </form>
    </div>

        <%- include("../partials/footer")  %> 
    </div>
    <script src="/js/header.js"></script>
</body>

</html>